MANIFEST
setup.cfg
tox.ini
.bzrignore
.cache
.coverage
.settings

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.py[cod]
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.egg-info


# OS folders
.DS_Store
Thumbs.db

# Editor folders
.tmproj
*.esproj
nbproject

# Sublime Text
*.sublime-project
*.sublime-workspace

#IntelliJ
*.iml

# Eclipse + PyDev
.project
.pydevproject


# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.bzr
.hg
.svn
.CVS
intermediate
publish
.idea
__pycache__
build
dist

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
